<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133015062876-oogmfelg8jv2d6ja5u0u6skmj247190i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133015062876-oogmfelg8jv2d6ja5u0u6skmj247190i</string>
	<key>API_KEY</key>
	<string>AIzaSyCFzUXz7LivSYRm5jyYTfDxnBDmg2-VHDM</string>
	<key>GCM_SENDER_ID</key>
	<string>133015062876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginFlutter</string>
	<key>PROJECT_ID</key>
	<string>login-flutter-f28f8</string>
	<key>STORAGE_BUCKET</key>
	<string>login-flutter-f28f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133015062876:ios:7bb54156f7889509939999</string>
</dict>
</plist>